[submodule "Borek/vendor/magic_enum"]
	path = Borek/vendor/magic_enum
	url = https://github.com/KamilMensik/borek_magic_enum
[submodule "Borek/vendor/spdlog"]
	path = Borek/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Borek/vendor/glfw"]
	path = Borek/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Borek/vendor/glm"]
	path = Borek/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Borek/vendor/imgui"]
	path = Borek/vendor/imgui
	url = https://github.com/KamilMensik/borek-imgui
[submodule "Borek/vendor/yaml-cpp"]
	path = Borek/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Borek/vendor/imguismo"]
	path = Borek/vendor/imguismo
	url = https://github.com/KamilMensik/Borek-ImGuizmo
	branch = borek
[submodule "Borek/vendor/Box2D"]
	path = Borek/vendor/Box2D
	url = git@github.com:KamilMensik/BorekBox2D.git
	branch = borek
