[submodule "Borek/vendor/magic_enum"]
	path = Borek/vendor/magic_enum
	url = https://github.com/KamilMensik/borek_magic_enum
[submodule "Borek/vendor/spdlog"]
	path = Borek/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Borek/vendor/glfw"]
	path = Borek/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Borek/vendor/glm"]
	path = Borek/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Borek/vendor/imgui"]
	path = Borek/vendor/imgui
	url = https://github.com/KamilMensik/borek-imgui
[submodule "Borek/vendor/yaml-cpp"]
	path = Borek/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Borek/vendor/imguismo"]
	path = Borek/vendor/imguismo
	url = https://github.com/KamilMensik/Borek-ImGuizmo
	branch = borek
[submodule "Borek/vendor/mruby"]
	path = Borek/vendor/mruby
	url = git@github.com:KamilMensik/Borek-mruby.git
	branch = borek
[submodule "Borek/vendor/msdf-atlas-gen"]
	path = Borek/vendor/msdf-atlas-gen
	url = git@github.com:KamilMensik/Borek-msdf-atlas-gen.git
[submodule "Borek/vendor/freetype"]
	path = Borek/vendor/freetype
	url = git@github.com:KamilMensik/Borek-freetype.git
[submodule "Borek/vendor/octree"]
	path = Borek/vendor/octree
	url = https://github.com/attcs/Octree.git
[submodule "Borek/vendor/imsearch"]
	path = Borek/vendor/imsearch
	url = https://github.com/GuusKemperman/imsearch.git
